* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header {
    width: 100%;
    height: 50px;
    position: relative;
    margin-top: 5px;
}

.box_header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

img {
    object-fit: cover;
}
/* fine header */

/* main */
main {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;

}

.box_biglietto {
    width: 50%;
    height: 300px;
    background-color: lightgray;
    
}

.white {
    background-color: white;
}

.box_code {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
}

.img_code {
    
}

.btn_blue {
    background-color: blue;
    color: white;
    border: 2px solid black;
    border-radius: 5px;    
    width: 50px;
    height: 30px;
}

.box_prezzo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* fine main */

